
h2 {
    margin-top: 20pt;
}

h3 {
    margin-top: 20pt;
}

p {
    margin-top: 0;
    margin-bottom: .85em;
}

*:last-child {
    margin-bottom: 0 !important;
}

.logo {
    width: 50% !important;
}
